<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <%= @title || "Slacker News" %></title>

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
     <div class ="container" >
        <h1> <img class="icon" src = "https://news.ycombinator.com/y18.gif" height="25" width="25"/> Slacker News <span class ="header">new | comments | ask | jobs |
         <a href= "/submit">submit </a></span></h1>

      <%= yield %>
      </div>
  </body>
</html>
