<form id="article_form" action= "/submit" method="post">
  <!-- title of article -->
  <label for="title">Article Title: </label>
  <input type="text" id="title" name="title"/>
  <br>
  <!-- URL of article -->
  <label for="url">URL: </label>
  <input type="text" id="url" name="url" placeholder="Don't get too crazy"/>
  <br>
  <!-- description of article -->
  <label for="description">Article Description: </label>
  <textarea rows="4" cols="50" form="article_form" name="description" id="description" ></textarea>
  <br>
  <input type="submit"/>

</form>
